:root {
  // 全局主色
  --primary-color: rgba(42, 157, 143, 100%);
  --primary-color-0-5: rgba(42, 157, 143, 5%);
  --primary-color-1: rgba(42, 157, 143, 10%);
  --primary-color-2: rgba(42, 157, 143, 20%);
  --primary-color-3: rgba(42, 157, 143, 30%);
  --primary-color-4: rgba(42, 157, 143, 40%);
  --primary-color-5: rgba(42, 157, 143, 50%);
  --primary-color-6: rgba(42, 157, 143, 60%);
  --primary-color-7: rgba(42, 157, 143, 70%);
  --primary-color-12: #227e72;
  --primary-color-14: #195e56;
  --primary-color-active: rgba(64, 112, 244, 10%);
  --primary-color-hover: rgba(64, 112, 244, 5%);
  --danger-color: #db504a;
  --error-color: #db504a;
  --success-color: #2a9d8f;
  --warning-color: #f4a261;
  --warning-color-2: #ffc759;
  --warning-color-6: rgba(244, 162, 97, 60%);
  --warning-color-7: #f1b07c;
  --warning-color-11: #fd8527;
  --warning-color-12: rgba(232, 106, 93, 100%);
  --warning-color-13: #f34c3b;
  --color-n4: #c8c9cc;
  // LINK
  --link-color: @primary-color;
  --text-color: rgba(50, 50, 51, 100%);
  --text-color-secondary: #969799;
  --text-color-third: #646566;
  --disabled-color: #c8c9cc;
  --disabled-bg: #f2f3f5;
  --disabled-n9: #f7f8fa;
  --disabled-active-bg: #ebedf0;
  --border-radius-base: 4px;
  --border-color-base: #dcdee0;
  --border-color-n7: #ebedf0;
  // 青绿色主题色
  --menu-bg: rgba(42, 157, 143, 15%);
  --menu-bg-2: rgba(42, 157, 143, 20%);
  --menu-bg-3: rgba(42, 157, 143, 10%);
  // shadow
  --warning-boxshadow: rgba(244, 162, 97, 20%);
  --card-boxshadow: 0 2px 8px 0 rgba(200, 201, 204, 50%);
  // layout start
  --layout-header-height: 60px;
  // layout end
  --selected-title-color: #2a9d8f;
  --arrow-color: #c8c9cc;
  --blue-color: rgba(8, 103, 255, 100%);
  // 状态颜色
  --success-status: #e1f5f3;
  --warn1-status: #fdeccc;
  --warn2-status: #fdebdf;
  --error-status: #ffddda;

  // 投影
  --box-shadow-s1: 0 0 4px 0 rgba(99, 99, 99, 10%); // 小投影
  --box-shadow-s2: 1px 2px 8px 0 rgba(200, 201, 204, 40%); // 中投影
  --box-shadow-s3: 0 2px 24px 0 rgba(200, 201, 204, 50%); // 大投影
  --box-shadow-s4: 0 2px 8px 0 rgba(200, 201, 204, 50%); // 下拉弹窗投影

  // 圆角
  --border-radius-s1: 4px; // 圆角 1
  --border-radius-s2: 8px; // 圆角 2

  // 字体
  --font-din: 'DIN Alternate-Bold', 'DIN Alternate';
}
