@import '../../style/index';

.svl-drawer {
  .ant-drawer-header {
    border-bottom: none !important;
  }

  .ant-drawer-footer {
    border: none;
  }

  .ant-drawer-body {
    padding-top: @drawer-body-padding-top !important;
  }

  .svl-drawer-footer {
    text-align: right;
  }

  .svl-drawer-close {
    cursor: pointer;
  }

  .svl-title {
    &::before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 3px;
      height: 18px;
      background: @primary-color;
      content: '';
    }
  }
}
